page-modal-directory-location {   
    
    .modal-wrapper{
        top: 0px
    }
    .input{
        border-bottom: 0.55px solid #c8c7cc;
        border-bottom-width: 0.55px;
        border-bottom-style: solid;
        border-bottom-color: rgb(200, 199, 204);
        border-left: none;
        border-top: none;
        border-right: none;
        margin-left: 10%;
        margin-top: 5%;
    }
    .scroll-content{
        overflow-y: scroll;
      }
      @media only screen and (min-height: 600px) and (min-width: 768px){
        .md .modal-wrapper {
            border-radius: 2px;
            top: 0;
            overflow: hidden;
            -webkit-box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
            box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
          }
        }
        
}


